---
import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';
import Timeline from '~/components/ui/Timeline.astro';
import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Timezone from '~/components/widgets/Timezone.astro';
import Layout from '~/layouts/PageLayout.astro';
import Sponsor from '~/components/widgets/Sponsor.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2 tagline="ICML 2024 Workshop" actions={[{ variant: 'primary', text: 'Get Started', href: '#Overview' }]}>
    <Fragment slot="title"> Trustworthy in Multi-modal Foundation Models and AI Agents </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="font-semibold">corporis</span>consequuntur
        nihil vitae voluptate</span
      >
      Quas natus laborum neque nemo quasi aliquam similique sint, veritatis expedita optio ex , voluptatem consequatur soluta
      enim!
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content id="Overview">
    <Fragment slot="title"> Overview </Fragment><Fragment slot="subtitle"
      >Welcome to the ICML 2024 Workshop on Trustworthy in Multi-modal Foundation Models and AI Agents (TiFA)
    </Fragment>
    <Fragment slot="content"
      ><div class="mb-4">
        Multi-modal Foundation Models (MFMs) have witnessed significant advancements in various bench marks and
        practical applications. They are proficient in a wide range of tasks, and capable of pro ducing varied
        multimodal responses. Nowadays a couple of MFMs have been deployed as realistic applications (such as GPT-4 [18]
        and Midjourney [25]). Meanwhile, a large variety of MFMs (like InternLM [24] and LLaVA [14]) are still under
        further research. Furthermore, foundation models with their powerful reasoning capabilities have led to the
        emergence of various AI Agents [19, 28]. These agents are often capable of understanding open-world
        instructions, breaking down complex tasks, and taking steps to achieve their goals.
      </div>
      <div class="mb-4">
        Advanced MFMs and AI Agents, equipped with diverse modalities and an increasing number of available affordances,
        accelerate their potential impact on society. As these systems gain abili ties to alter societal dynamics
        swiftly, understanding and preempting the vulnerabilities of such systems and their induced harms becomes
        crucial. Trustworthiness in MLMs and AI Agents tran scends identifying vulnerabilities in models and emphasizes
        the importance of proactive harm mit igation, safeguards, and the establishment of comprehensive safety
        mechanisms throughout the lifecycle of system development and deployment. This approach demands a blend of
        technical and socio-technical strategies, incorporating AI governance and regulatory insights to build
        trustworthy MFMs and Agents.
      </div>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content id="Call-For-Papers">
    <Fragment slot="title">Description/Call For Papers</Fragment>
    <Fragment slot="content"
      ><div class="mb-4">
        Advanced Multi-modal Foundation Models (MFMs) and AI Agents, equipped with diverse modalities [15, 26, 19, 25,
        29] and an increasing number of available affordances [20, 31] (e.g., tool use, code interpreter, API access,
        etc.), have the potential to accelerate and amplify their predecessors’ impact on society [9].
      </div>
      <div class="mb-4">
        MFM includes multi-modal large language models (MLLMs) and multi-modal generative models (MMGMs). <a
          href="https://arxiv.org/abs/2306.13549"
          class="hover:underline text-sky-600 font-medium"
          target="_blank">MLLMs</a
        > refer to LLM-based models with the ability to receive, reason, and output with information of multiple modalities,
        including but not limited to text, images, audio, and video. Examples include <a
          href="https://publications.reka.ai/reka-core-tech-report.pdf"
          class="hover:underline text-sky-600 font-medium"
          target="_blank">Reka</a
        >, QwenVL [24], Llava [25], and so on. MMGMs refer to a class of MFM models that can generate new content across
        multiple modalities, such as generating images from text descriptions or creating videos from audio and text
        inputs. Examples include Stable Diffusion [26], Sora, and Latte [27]. AI agents, <a
          href="https://cdn.openai.com/papers/practices-for-governing-agentic-ai-systems.pdf"
          class="hover:underline text-sky-600 font-medium"
          target="_blank">or systems with higher degree of agenticness</a
        >, refer to systems that could achieve complex goals in complex environments with limited direct supervision.
        Understanding and preempting the vulnerabilities of such systems [4] and their induced harms [6] becomes
        unprecedentedly crucial.
      </div>
      <div class="mb-4">
        Building trustworthy MFMs and AI Agents transcends adversarial robustness of such models, but also emphasizes
        the importance of proactive risk assessment, mitigation, safeguards, and the establishment of comprehensive
        safety mechanisms throughout the lifecycle of the systems’ development and deployment [24, 28]. This approach
        demands a blend of technical and socio-technical strategies, incorporating AI governance and regulatory insights
        to build trustworthy MFMs and AI Agents.
      </div>
      <div class="mb-4">Example topics include but are not limited to:</div>
      <li>Robustness, attack and defense, poisoning, hijacking and security</li>
      <li>Privacy and watermarking</li>
      <li>Fairness, accountability and governance</li>
      <li>Truthfulness, factuality and sycophancy</li>
      <li>Transparency, interpretability and monitoring</li>
      <li>Scalable oversight and steering</li>
      <li>Auditing, red-teaming and evaluating trustworthiness</li>
      <li>Novel challenges with the introduction of new modalities</li>
      <li>Measures against malicious model steering</li>
    </Fragment>
  </Content>

  <Content id="Submission-Guide" classes={{ container: 'pb-2 md:pb-2 lg:pb-2' }}>
    <Fragment slot="title">Submission Guide</Fragment>
    <Fragment slot="subtitle">Submission Instructions</Fragment>
    <Fragment slot="content" classes={{ container: 'py-2' }}
      ><ul class="list-outside list-disc">
        <li>Submissions should be made on OpenReview.</li>
        <li>
          Submissions should be anonymised papers up to 5 pages (appendices can be added to the main PDF); excluding
          references. Authors are required to include a "Social Impacts Statement" that highlights "potential broader
          impact of their work, including its ethical aspects and future societal consequences". You must format your
          submission using the <a
            href="https://cdn.openai.com/papers/practices-for-governing-agentic-ai-systems.pdf"
            class="hover:underline text-sky-600 font-medium"
            target="_blank">ICML_LATEX_style_file</a
          >. Reviews will be double-blind, with at least two reviewers assigned to each paper.
        </li>
        <li>
          We welcome various types of papers including scientific papers and position papers. Scientific papers must not
          have appeared at an archival venue before, however, non-scientific papers that have appeared in archival
          venues outside main machine learning venues are welcomed for submission.
        </li>
        <li>
          All accepted papers will be available on the workshop website, but no formal workshop proceedings will be
          published.
        </li>
      </ul>
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content classes={{ container: 'py-2 md:py-2 lg:py-2 pb-12 md:pb-12 lg:pb-12' }}>
    <Fragment slot="subtitle">Key Dates</Fragment>

    <Fragment slot="content">
      <Timeline
        items={[
          { title: 'May 06, 2024', description: 'Submissions Open' },
          { title: 'May 23, 2024', description: 'Submission Deadline' },
          { title: 'June 12, 2024', description: 'Acceptance Notification' },
          { title: 'June 30, 2024', description: 'Camera-Ready Deadline' },
          { title: 'July 26, 2024', description: 'Workshop Date' },
        ]}
        defaultIcon="tabler:arrow-right"
      />
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <!-- Content Widget **************** -->

  <Content id="Schedule">
    <Fragment slot="content">
      <h3 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2 text-center">
        Schedule<br />
      </h3>
      <Timezone
        items={[
          {
            time: '2024-05-15T08:50:00',
            theme: {
              title: 'Opening Remarks (10 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '#',
          },
          {
            time: '2024-05-15T09:00:00',
            theme: {
              title: 'Invited talk 1: Roger Grosse (30 min)',
            },
            Speaker: 'Roger Grosse',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T09:30:00',
            theme: {
              title: 'Invited talk 2: Matthias Hein (30 min)',
            },
            Speaker: 'Matthias Hein',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T10:00:00',
            theme: {
              title: 'Contributed Opinion Talk 1 (30 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T10:30:00',
            theme: {
              title: 'Break (15 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T10:45:00',
            theme: {
              title: 'Best Paper Talk 1 (15 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T11:00:00',
            theme: {
              title: 'Best Paper Talk 2 (15 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T11:15:00',
            theme: {
              title: 'Poster session & Lunch (110 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T13:05:00',
            theme: {
              title: 'Invited talk 3(30 min)',
            },
            Speaker: 'Been Kim',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T13:35:00',
            theme: {
              title: 'Invited talk 4(30 min)',
            },
            Speaker: 'Ludwig Schmidt',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T14:05:00',
            theme: {
              title: 'Contributed Opinion Talk 2(30 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T14:35:00',
            theme: {
              title: 'Invited talk 5(30 min)',
            },
            Speaker: 'Florian Tram‘er',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T15:05:00',
            theme: {
              title: 'Break (15 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T15:20:00',
            theme: {
              title: 'Invited talk 6(30 min)',
            },
            Speaker: 'Ivan Evtimov',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T15:50:00',
            theme: {
              title: 'Panel (60 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T16:50:00',
            theme: {
              title: 'Breakout rooms discussion (30 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
          {
            time: '2024-05-15T17:20:00',
            theme: {
              title: 'Closing remarks (10 min)',
            },
            Speaker: '',
            institution: '',
            logoSrc: '/avatar.png',
            link: '',
          },
        ]}
      />
    </Fragment>
  </Content>

  <!-- Brands Widget ****************** -->

  <Brands
    id="Speakers"
    title="Speakers"
    images={[
      {
        src: '/speaker01.png',
        alt: 'speaker01',
        name: 'Roger Grosse',
        university: 'University of Toronto',
        bioLink: 'https://www.cs.toronto.edu/~rgrosse/',
      },
      {
        src: '/speaker02.png',
        alt: 'speaker02',
        name: 'Been Kim',
        university: 'Google DeepMind',
        bioLink: 'https://beenkim.github.io/',
      },
      {
        src: '/speaker03.png',
        alt: 'speaker03',
        name: 'Florian Tramèr',
        university: 'ETH Zürich',
        bioLink: 'https://www.floriantramer.com/',
      },
      {
        src: '/speaker04.png',
        alt: 'speaker04',
        name: 'Ludwig Schmidt',
        university: 'University of Washington',
        bioLink: 'https://people.csail.mit.edu/ludwigs/',
      },
      {
        src: '/speaker05.png',
        alt: 'speaker05',
        name: 'Matthias Hein',
        university: 'University of Tübingen',
        bioLink: 'http://bit.ly/3UAht4W',
      },
      {
        src: '/speaker06.png',
        alt: 'speaker06',
        name: 'Ivan Evtimov',
        university: 'Meta',
        bioLink: 'https://ivanevtimov.eu/',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment></Brands
  >
  <!-- Content Widget **************** -->

  <!-- <Content
    id="Challenges"
    columns={4}
    items={[
      {
        title: 'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title: 'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title: 'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title: 'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">
        Challenges<br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae dolore atque facilis aliquam corrupti adipisci quam,
      ex laboriosam perferendis quis, iste soluta minus obcaecati nesciunt fugit debitis, laborum est sapiente.
    </Fragment><Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->
  <!-- Brands Widget ****************** -->

  <Brands
    id="Organizers"
    title="Organizers"
    icons={[]}
    images={[
      {
        src: '/organizer01.png',
        alt: 'organizer01',
        name: 'Zhenfei Yin',
        university: 'University of Sydney',
        bioLink: 'https://scholar.google.com.hk/citations?user=ngPR1dIAAAAJ&hl=zh-CN',
      },
      {
        src: '/organizer02.png',
        alt: 'organizer02',
        name: 'Yawen Duan',
        university: 'University of Cambridge',
        bioLink: 'https://scholar.google.com/citations?user=IJQlPvYAAAAJ&hl=en',
      },
      {
        src: '/organizer03.png',
        alt: 'organizer03',
        name: 'Jianfeng Chi',
        university: 'Meta AI',
        bioLink: 'https://jfchi.github.io/',
      },
      {
        src: '/organizer04.png',
        alt: 'organizer04',
        name: 'Hang Su',
        university: 'Tsinghua University',
        bioLink: 'https://www.suhangss.me/',
      },
      {
        src: '/organizer06.png',
        alt: 'organizer06',
        name: 'Jing Shao',
        university: 'Shanghai AI Laboratory',
        bioLink: 'https://amandajshao.github.io/',
      },
      {
        src: '/organizer07.png',
        alt: 'organizer07',
        name: 'Pavel Izmailov',
        university: 'OpenAI',
        bioLink: 'https://izmailovpavel.github.io/',
      },
      {
        src: '/organizer08.png',
        alt: 'organizer08',
        name: 'Zhengyi Wang',
        university: 'Tsinghua University',
        bioLink: 'https://thuwzy.github.io/',
      },
      {
        src: '/organizer09.png',
        alt: 'organizer09',
        name: 'Andy Zou',
        university: 'Carnegie Mellon University',
        bioLink: 'https://andyzoujm.github.io/',
      },
    ]}
  />
  <!-- Brands Widget ****************** -->

  <Brands
    id="Organizers"
    title=""
    classes={{ container: 'lg:py-1 md:py-1' }}
    tagline="Challenge Chair"
    icons={[]}
    images={[
      {
        src: '/organizer01.png',
        alt: 'organizer01',
        name: 'Zhenfei Yin',
        university: 'University of Sydney',
        bioLink: 'https://scholar.google.com.hk/citations?user=ngPR1dIAAAAJ&hl=zh-CN',
      },
      {
        src: '/organizer02.png',
        alt: 'organizer02',
        name: 'Yawen Duan',
        university: 'University of Cambridge',
        bioLink: 'https://scholar.google.com/citations?user=IJQlPvYAAAAJ&hl=en',
      },
      {
        src: '/organizer03.png',
        alt: 'organizer03',
        name: 'Jianfeng Chi',
        university: 'Meta AI',
        bioLink: 'https://jfchi.github.io/',
      },
      {
        src: '/organizer04.png',
        alt: 'organizer04',
        name: 'Hang Su',
        university: 'Tsinghua University',
        bioLink: 'https://www.suhangss.me/',
      },
      {
        src: '/organizer06.png',
        alt: 'organizer06',
        name: 'Jing Shao',
        university: 'Shanghai AI Laboratory',
        bioLink: 'https://amandajshao.github.io/',
      },
      {
        src: '/organizer07.png',
        alt: 'organizer07',
        name: 'Pavel Izmailov',
        university: 'OpenAI',
        bioLink: 'https://izmailovpavel.github.io/',
      },
      {
        src: '/organizer08.png',
        alt: 'organizer08',
        name: 'Zhengyi Wang',
        university: 'Tsinghua University',
        bioLink: 'https://thuwzy.github.io/',
      },
      {
        src: '/organizer09.png',
        alt: 'organizer09',
        name: 'Andy Zou',
        university: 'Carnegie Mellon University',
        bioLink: 'https://andyzoujm.github.io/',
      },
    ]}
  />
  <!-- Brands Widget ****************** -->

  <Brands
    classes={{ container: 'lg:py-1 md:py-1 lg:pb-20 md:pb-16' }}
    id="Organizers"
    tagline="program committee"
    icons={[]}
    images={[
      {
        src: '/organizer01.png',
        alt: 'organizer01',
        name: 'Zhenfei Yin',
        university: 'University of Sydney',
        bioLink: 'https://scholar.google.com.hk/citations?user=ngPR1dIAAAAJ&hl=zh-CN',
      },
      {
        src: '/organizer02.png',
        alt: 'organizer02',
        name: 'Yawen Duan',
        university: 'University of Cambridge',
        bioLink: 'https://scholar.google.com/citations?user=IJQlPvYAAAAJ&hl=en',
      },
      {
        src: '/organizer03.png',
        alt: 'organizer03',
        name: 'Jianfeng Chi',
        university: 'Meta AI',
        bioLink: 'https://jfchi.github.io/',
      },
      {
        src: '/organizer04.png',
        alt: 'organizer04',
        name: 'Hang Su',
        university: 'Tsinghua University',
        bioLink: 'https://www.suhangss.me/',
      },
      {
        src: '',
        alt: 'organizer06',
        name: 'Jing Shao',
        university: 'Shanghai AI Laboratory',
        bioLink: 'https://amandajshao.github.io/',
      },
      {
        src: '',
        alt: 'organizer07',
        name: 'Pavel Izmailov',
        university: 'OpenAI',
        bioLink: 'https://izmailovpavel.github.io/',
      },
      {
        src: '',
        alt: 'organizer08',
        name: 'Zhengyi Wang',
        university: 'Tsinghua University',
        bioLink: 'https://thuwzy.github.io/',
      },
      {
        src: '',
        alt: 'organizer09',
        name: 'Andy Zou',
        university: 'Carnegie Mellon University',
        bioLink: 'https://andyzoujm.github.io/',
      },
    ]}
  />

  <!-- Brands Widget ****************** -->

  <Brands
    id="Steering-Committee"
    title="Steering Committee"
    icons={[]}
    images={[
      {
        src: '/committee01.png',
        alt: 'committee01',
        name: 'Peyman Najafirad',
        university: 'University of Texas, San Antonio',
        bioLink: 'https://scholar.google.com/citations?user=uoCn8c8AAAAJ&hl=en',
      },
      {
        src: '/committee02.png',
        alt: 'committee02',
        name: 'Neil Zhenqiang Gong',
        university: 'Duke University',
        bioLink: 'https://people.duke.edu/~zg70/',
      },
      {
        src: '/organizer05.png',
        alt: 'organizer05',
        name: 'Cihang Xie',
        university: 'University of California, Santa Cruz',
        bioLink: 'https://cihangxie.github.io/',
      },

      {
        src: '/committee04.png',
        alt: 'committee04',
        name: 'Yu Qiao',
        university: 'Shanghai AI Lab',
        bioLink: 'https://mmlab.siat.ac.cn/yuqiao',
      },
      {
        src: '/committee06.png',
        alt: 'committee06',
        name: 'Wanli Ouyang',
        university: 'Shanghai AI Lab',
        bioLink: 'https://wlouyang.github.io/',
      },
      {
        src: '/committee05.png',
        alt: 'committee05',
        name: 'Alan Yuille',
        university: 'Johns Hopkins University',
        bioLink: 'https://www.cs.jhu.edu/~ayuille/',
      },
      {
        src: '/committee07.png',
        alt: 'committee07',
        name: 'Jun Zhu',
        university: 'Tsinghua University',
        bioLink: 'https://ml.cs.tsinghua.edu.cn/~jun/index.shtml',
      },
      {
        src: '/committee08.png',
        alt: 'committee08',
        name: 'Dacheng Tao',
        university: 'University of Sydney',
        bioLink: 'https://ieeexplore.ieee.org/author/37269935500',
      },
      {
        src: '/committee09.png',
        alt: 'committee09',
        name: 'Philip Torr',
        university: 'University of Oxford',
        bioLink: 'https://www.robots.ox.ac.uk/~phst/',
      },
      {
        src: '/committee10.png',
        alt: 'committee10',
        name: 'Xuanjing Huang',
        university: 'Fudan University',
        bioLink: 'https://xuanjing-huang.github.io/',
      },
      {
        src: '/committee03.png',
        alt: 'committee03',
        name: 'Bo Li',
        university: 'University of Illinois, Urbana Champaign',
        bioLink: 'https://aisecure.github.io/',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment></Brands
  >
  <Content id="References">
    <Fragment slot="title"> References </Fragment>
    <Fragment slot="content">
      <p>
        [1] L. Bailey, E. Ong, S. Russell, and S. Emmons. Image hijacks: Adversarial images can control generative
        models at runtime, 2023.
      </p>
      <p>
        [2] M. Bhatt, S. Chennabasappa, C. Nikolaidis, S. Wan, I. Evtimov, D. Gabi, D. Song, F. Ahmad, C. Aschermann, L.
        Fontana, S. Frolov, R. P. Giri, D. Kapil, Y. Kozyrakis, D. LeBlanc, J. Mi lazzo, A. Straumann, G. Synnaeve, V.
        Vontimitta, S. Whitman, and J. Saxe. Purple llama cyberseceval: A secure coding benchmark for language models,
        2023.
      </p>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <!-- Brands Widget ****************** -->

  <Sponsor
    id="Sponsor"
    tagline="Sponsor"
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />
</Layout>
